$font-family: "Roboto", sans-serif;

$font-color: #000;
$bg-color: #fff;
$copy-color: #979da5;
$footer-links-color: #808891;
$title-color: #4e5155;
$primary-color: #f58667;
$success-color: #3d9266;

$max-page-width: 70rem;
