@import "../../styles/core/variables";

.cart {
  text-align: center;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 2rem;

  @media all and (min-width: 768px) {
    text-align: left;
  }

  &_title {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: rgb(104, 131, 78);

    @media all and (min-width: 768px) {
      text-align: left;
    }

    @media all and (min-width: 1220px) {
      padding-bottom: 2rem;
    }
  }

  &_subtitle {
    @media all and (min-width: 768px) {
      padding-bottom: 1rem;
    }

    @media all and (min-width: 1220px) {
      text-align: left;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media all and (min-width: 1220px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.list {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  width: 80vw;

  @media all and (min-width: 768px) {
    width: 30vw;
  }
}

.noArticles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  font-size: 1.5rem;

  & span {
    margin-top: 1rem;
  }

  & a {
    margin-top: 3rem;
    color: black;
  }
}
