.shopping {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.noArticles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  font-size: 1.5rem;

  & span {
    margin-top: 1rem;
  }

  & a {
    margin-top: 3rem;
    color: black;
  }
}
