.box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #717272;

  @media all and (min-width: 1220px) {
    flex-direction: row;
    justify-content: flex-start;
  }

  &_image {
    width: 6rem;
    border: 1px solid #ccc;
  }

  &_details {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    padding-left: 2rem;
    cursor: pointer;
  }

  &_title {
    font-family: "Courier New";
    font-size: 1.1rem;
    color: rgb(20, 83, 12);
    text-decoration: none;
  }
}
