.box {
  background: radial-gradient(circle, #eeeeee, #d7f0d9);
}
.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 0 0 0.5rem;
  max-width: 70rem;
  margin: 0 auto;
  @media all and (min-width: 768px) {
    padding-top: 2rem;
  }

  &_logo {
    height: 5rem;
    @media all and (min-width: 768px) {
      padding-right: 8rem;
    }
  }
}

.cart {
  background-color: #3d9266;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;

  & span {
    margin-left: 0.5rem;
  }

  &:hover {
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.5);
  }

  &_count {
    background-color: #e07878;
    border-radius: 0.8rem;
    padding: 0 0.3rem;
    margin-left: 0.6rem;
    width: 0.7rem;
    text-align: center;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.5);
  }
}
