.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15rem;
  background-color: #e7ece0;
  background: radial-gradient(circle, #eeeeee, #d7f0d9);

  &_image {
    width: 15rem;
    height: 10rem;
    margin-right: 10rem;
  }

  &_title {
    font-size: 2rem;
    font-weight: normal;
    color: #4e5155;
  }

  &_subTitle {
    font-weight: normal;
    color: #4e5155;
  }

  &_email {
    margin-left: 1rem;
    color: #4e5155;
  }

  &_form {
    margin-left: 5.5rem;
  }

  &_input {
    padding-left: 1rem;
  }
}
