@import "../styles/core/variables";

.searchBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(141, 194, 141);
  padding: 0.5rem;

  &_search {
    width: 500px;
    height: 2.5rem;
    margin-right: 0.75rem;
    padding-left: 0.75rem;
    border: solid 1px gray;
  }

  &_searchSend {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-radius: 0.2rem;
    border: 0.02rem solid #ccc;
    background-color: $primary-color;
  }

  &_send {
    margin-bottom: 0;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 1rem;
    color: rgb(129, 124, 124);
  }
}
