.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35rem;
  background: hsl(0, 0%, 100%);
  border-top: 0.1rem solid #d3d5d8;
  border-bottom: 0.1rem solid #d3d5d8;
  border: 0.02rem solid #adafb1;

  &_image {
    height: 18rem;
  }

  &_add {
    margin-left: 4.5rem;
    height: 2rem;
    width: 9rem;
    color: #2b885d;
    cursor: pointer;
  }

  &_size {
    margin-left: 5rem;
  }

  &_title {
    color: #2b885d;
    font-family: "Courier New";
    margin-top: 7rem;
    font-size: 2rem;
  }

  &_weight {
    font-family: sans-serif;
  }

  &_price {
    color: #860d1e;
    font-family: sans-serif;
    font-weight: bold;
  }

  &_description {
    font-family: sans-serif;
  }

  &_time {
    font-family: sans-serif;
    width: 20rem;
    height: 10rem;
    margin-left: 8rem;
    background-color: #caf3ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    border-radius: 0.5rem;
  }

  &_timeNow {
    color: red;
    font-size: 1.3rem;
  }
}

.box_add:hover {
  background-color: rgb(226, 235, 232);
}
