.windows {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 270px;
  height: 120px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.box {
  @media all and (min-width: 768px) {
    width: 500px;
    height: 120px;
  }
}

.boxButton {
  text-align: center;
}

.check {
  color: red;
  width: 50px;
  height: 60px;
}

.boxCheck {
  display: flex;
}
