@import "../../styles/core/variables";
@import "../../styles/core/mixins";

.box {
  @include bg-gradient;
}

.name {
  text-align: center;
  margin-top: 0.08rem;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: $max-page-width;
    margin: 0 auto;
  }

  @media all and (min-width: 1220px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
